header {
  display: none!important;
}

article[data-testid="tweet"] {
  padding: 0 5px;
}
article[data-testid="tweet"] .r-1b43r93 {
  font-size: 12px;
}
article[data-testid="tweet"] .r-1rq6c10 {
  margin-right: 5px;
}
article[data-testid="tweet"] .r-1b3ntt7 {
  padding-top: 5px;
}
article[data-testid="tweet"] .r-a1ub67 {
  margin-top: 3px;
}
article[data-testid="tweet"] .r-1iusvr4 {
  padding-bottom: 2px;
}
article[data-testid="tweet"] .r-1867qdf {
  border-radius: 0;
}
article[data-testid="tweet"] div[data-testid="User-Name"] time {
  color: #f80;
}

html {
  overflow-y: scroll;
}
html::-webkit-scrollbar {
  width: 4px;
}
html::-webkit-scrollbar-thumb {
  background-color: #fff9;
}
html::-webkit-scrollbar-track {
  background-color: #ccf5;
}
