header {
  display: none!important;
}

div[aria-label="Home timeline"] > div:first-child {
  border-bottom: 1px solid #77a;
}
div[data-testid="trend"] {
  padding: .5rem;
}
div[data-testid="trend"] > div > div:nth-child(2) {
  font-size: 13px;
}
div[data-testid="trend"] > div > div:nth-child(3) {
  position: absolute;
  right: 0;
  bottom: 0;
}

html {
  overflow-y: scroll;
}
html::-webkit-scrollbar {
  width: 4px;
}
html::-webkit-scrollbar-thumb {
  background-color: #fff9;
}
html::-webkit-scrollbar-track {
  background-color: #ccf5;
}
